* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background: #000;
	font-size: 16px;
	color: #576369;
}

header,
div,
p,
form,
input,
a,
span,
button {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
	outline: none;
}

h1 {
	font-size: 20px;
}

img {
	width: 100%;
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper,
.menu,
.content {
	height: 100%;
}

.wrapper {
	display: flex;
	height: 100vh;
}

.content {
	flex: 1;
	padding: 40px;
	background: #fff;

}

.block {
	padding: 20px;
	background: #fff;
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.menu {
	width: 200px;
	background: #46517B;
	padding: 20px;
}

.menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	margin: 20px 0;
	text-transform: uppercase;
}

button {
	border: none;
	background: #30A3CE;
	color: #fff;
	width: 150px;
	border-radius: 5px;
	padding: 10px 0;
	margin-top: 10px;
	cursor: pointer;
}

button:hover {
	background: #2a6479;
}

input[type=text],
input[type=password] {
	padding: 10px;
	border: 1px solid#cccccc;
	border-radius: 5px;
	margin: 10px 0;
	width: 300px;
}